html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #121212; /* Черный фон */
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0; /* Светлый цвет текста */
}

/* Основной контейнер приложения */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Черный фон */
  color: #e0e0e0; /* Светлый цвет текста */
}

/* Центрирование основного контента */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Контент не будет тянуться на весь экран, а начнётся сверху */
  padding-top: 4rem; /* Увеличиваем отступ сверху, чтобы учесть высоту хедера */
  padding-bottom: 5rem;
  flex-grow: 1;
  width: 100%;
  color: #e0e0e0; /* Светлый цвет текста */
}

/* Шапка и навигация */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto; /* Высота заголовка */
  background-color: #1f1f1f; /* Еще темнее фон */
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: #e0e0e0; /* Светлый цвет текста */
}

header h1 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #e0e0e0; /* Светлый цвет текста */
}

/* Элементы управления ставками */
.bet-controls {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  align-content: center;
  box-sizing: border-box;
  color: #e0e0e0; /* Светлый цвет текста */
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(31, 31, 31, 0.9); /* Черный фон с лёгкой прозрачностью */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  width: 100%;
  box-sizing: border-box;
  height: 48px; /* Уменьшенная высота */
  padding: 0 0.5rem;
  backdrop-filter: blur(4px); /* Немного размытия для плавности */
}

nav button {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbbf24;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 4px 0; /* Уменьшенный отступ */
  font-size: 0.875rem;
}

nav button span {
  margin-top: 2px;
}

nav button:hover {
  color: #fcd34d;
}

nav button:focus,
nav button:active {
  outline: none;
  color: #fcd34d;
}
